@font-face {
    font-family: "Neon";
    src: url("../fonts/beon-webfont.woff") format("woff2"),
  }


@font-face {
    font-family: 'Starship One';
    src: url("../fonts/Starship-One.woff2") format('woff2'),
        url('../fonts/Starship-One.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

